@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,600;1,100&family=Foldit:wght@800&family=Sono:wght@300&family=Source+Code+Pro:wght@300&display=swap');



*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
   
    background: url("../IMG/fondo.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: right top;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Chivo Mono', monospace;
    font-family: 'Foldit', cursive;
    font-family: 'Sono', sans-serif;
    font-family: 'Source Code Pro', monospace;*/
    

}



/*scrollbar */

/* Barra de desplazamiento */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Pista de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Agarradera de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background: gray;
  }
  
  /* Estilo al pasar el cursor sobre la barra de desplazamiento */
  ::-webkit-scrollbar-thumb:hover {
    background-color: black;
  }





/* CSS NAVBAR */
.header {
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.902);
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 10vh;
    position: fixed;

}

.logo {
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: 700;
    font-family: 'Chivo Mono', monospace;

}

.navigation ul {
    list-style: none;
}

.header .navigation ul li {
    float:left;
    position: relative;
    cursor: pointer;
    margin-top: 5px;
}

.header .navigation ul li a {
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;

}

.header .navigation ul li a:hover {
   
    color: rgb(177, 177, 177);
    transition: .2s;

 

}

.header .navigation ul li ul {
    position: absolute;
    right: 10px;
    width: 300px;
    background-color: rgb(1, 1, 1);
    display: none;
    
}

.header .navigation ul li ul a {
    text-align: center;

}

.header .navigation ul li ul li {
    width: 100%;

}

.header .navigation ul li:hover > ul {
    display:initial;
}

#toggle,
.header label {
    display: none;
    cursor: pointer;

}

.menu {
    width: 20px;
    height: 35px;

}

/* titulo contacto */ 


.contacto_title {
   
    margin-top: 5%;
    background-color: rgba(1, 1, 1, 0.712);
    height: 50vh;
    text-align: center;

}

.contacto_title h1 {
    color: rgba(245, 245, 245, 0.833);
    font-size: 2.5rem;
    padding: 8rem;
    text-transform: uppercase;
}





/* FORM */

.content {
    width: 100vw;
    margin-bottom: 15%;
}

.contact_wrapper > * {
    padding: 1em;
}

.contact_form {
    background-color: rgba(1, 1, 1, 0.712);
    padding: 20px;
}

.contact_form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact_form form .block {
    grid-column: 1 / 3;
}

.contact_form form p{
    margin: 0;
    padding: 1em;
    text-align: left;
    color: whitesmoke;
}

.contact_form form button,
.contact_form form input,
.contact_form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: rgb(169, 169, 169);
    border-bottom: 1px solid rgba(245, 245, 245, 0.47);
}

.contact_form form button {
    background: rgba(0, 0, 0, 0.644);
    color: whitesmoke;
    border: 0;
    text-transform: uppercase;
    padding: 1em;

}


.contact_form form button:hover,
.contact_form form button:focus {
    background: rgba(46, 73, 153, 0.8);
    color: whitesmoke;
    transition: background-color 1s ease-out;
    outline: 0;

}

.contact_info {
    background-color: rgba(1, 1, 1, 0.712);
    color: rgba(255, 255, 255, 0.459);
}

.contact_info h5,
.contact_info ul,
.contact_info p {

    text-align: center;
    margin:  0 0 1rem 0;

}

.contact_info ul {
    list-style: none;
    padding: 0;
}

.contact_info ul li {
    padding: .3rem;

}




/* FOOTER */


.footer {
    
    background-color: rgba(1, 1, 1, 0.838);
    width: 100vw;
    height: 30vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: -15%;
  
  
   
   
}

.footer_1 h6 {
    
    color: rgba(245, 245, 245, 0.525);
    text-align: center;
    align-items: center;
    font-size: 60px;
    letter-spacing: 10px;
    padding: 20px;

}

.footer_1 h6 span {
    font-size: 20px;
    letter-spacing: 0px;
}

.footer_1 p {
    color: rgba(245, 245, 245, 0.672);
    text-align: center;
}



.footer_2 {
    color: white;
    font-size: 15px;
}

.footer_2 h4 {
    font-size: 20px;
    color: rgba(245, 245, 245, 0.525);
}


footer .footer_2 .footer_2-menu .footer_2-link  {
    text-decoration: none;
    color: rgba(245, 245, 245, 0.525);
}

.footer_copy {
    background-color: black;
    color: rgba(245, 245, 245, 0.525);
    text-align: center;
    align-items: center;
    height: 50px;
    margin-top: -20px;
    width: 100vw;
}

.footer_copy p {
    margin-top: 0px;
    padding: 5px;
    font-size: 15px;
}

















/* media querys */

@media screen and (max-width:950px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(1, 1, 1, 0.7);
        display: none;

    }

    .header .navigation ul li {
        width: 100%;

    }

    .header .navigation ul li a {
        padding: 0px 0px 8px 1%;
    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {
        background-color: rgba(1, 1, 1, 0.7);

    }

    #toggle:checked ~ .navigation {
        display: block;
    }

}

@media screen and (max-width:520px) {

    .contacto_title h1 {
        font-size: 1.6rem;

    } 

    .footer {
        flex-direction: column;
        padding: 2rem;
    }

    footer .footer_2 .footer_2-menu{
        margin-bottom: 3rem;
    }

}

@media screen and (max-width:380px){
    #cont_tit{
        font-size: 1.4rem;
        padding: 5rem;
        margin-top: 4rem;
    } 

} 

@media screen and (max-width:320px){
    
    .contact_form form {
        display: flex;
        flex-direction: column;
        margin-top: -15%;
    }

    .footer .footer_1 h6 {
        font-size: 2rem;
    }

     .footer_copy {
        
        height: 10vh;
    }

} 